<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inbox Quotes</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Arial", sans-serif;
        background-color: #f5f5f5;
        width: 100%;
        overflow-x: hidden;
      }

      .navigation-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
        width: 100%;
      }

      .webpage-name {
        font-size: 24px;
        margin: 0;
        color: #fff;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }
      .registration-container {
        background-color: #fff;
        max-width: 400px;
        width: 90%;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
      }

      h2 {
        text-align: center;
        color: #333;
      }

      form {
        margin-top: 20px;
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #555;
      }

      input,
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      select {
        appearance: none;
      }

      button,
      .unsubscribe-btn {
        background-color: #333;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* width: 100%; */
      }

      button:hover,
      .unsubscribe-btn:hover {
        background-color: #555;
      }

      .unsubscribe-btn {
        margin-top: 10px;
        margin-right: 50px;
      }

      /* Responsive Styling */
      @media only screen and (max-width: 600px) {
        .navigation-bar {
          flex-direction: column;
          text-align: center;
        }

        .webpage-name {
          margin-bottom: 10px;
        }
        .registration-container {
          width: 50%;
        }
        body {
          overflow: hidden;
        }
      }
    </style>
  </head>
  <body>
    <div class="navigation-bar">
      <div class="webpage-name">Inbox Quotes</div>
      <a href="/unsubscribe" class="unsubscribe-btn"> Unsubscribe </a>
    </div>
    <div class="container">
      <div class="registration-container">
        <form method="POST" action="/user/">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />

          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />

          <label for="preference">E-mail frequency</label>
          <select id="preference" name="preference">
            <option value="0 0 0 * * *">Daily</option>
            <option value="0 0 0 */3 * *">Every 3 Days</option>
            <option value="0 0 0 */7 * *">Every 7 Days</option>
            <option value="0 0 0 */15 * *">Every 15 Days</option>
            <option value="0 0 0 1 * *">Every Month</option>
          </select>

          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
